.user-form {
  width: 50%;
  margin: 1rem;
  padding: 1rem 1rem 0 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background: #f6f6f6;
}

.form-head {
  text-align: left;
}
